In [1]:
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Configure libraries
# The seaborn library makes plots look nicer
sns.set()
sns.set_context('talk')

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

In [3]:
df= pd.read_csv('LEADINGCAUSESOFDEATH.csv')

In [4]:
df.columns

Index(['State_FIPS_Code', 'County_FIPS_Code', 'CHSI_County_Name',
       'CHSI_State_Name', 'CHSI_State_Abbr', 'Strata_ID_Number', 'A_Wh_Comp',
       'CI_Min_A_Wh_Comp', 'CI_Max_A_Wh_Comp', 'A_Bl_Comp',
       ...
       'F_Bl_Cancer', 'CI_Min_F_Bl_Cancer', 'CI_Max_F_Bl_Cancer',
       'F_Ot_Cancer', 'CI_Min_F_Ot_Cancer', 'CI_Max_F_Ot_Cancer',
       'F_Hi_Cancer', 'CI_Min_F_Hi_Cancer', 'CI_Max_F_Hi_Cancer',
       'LCD_Time_Span'],
      dtype='object', length=235)

In [ ]:
df.columns[df.isnull().any(axis=0)]

Index([], dtype='object')

In [ ]:
df.isnull().sum()

State_FIPS_Code       0
County_FIPS_Code      0
CHSI_County_Name      0
                     ..
CI_Min_F_Hi_Cancer    0
CI_Max_F_Hi_Cancer    0
LCD_Time_Span         0
Length: 235, dtype: int64

In [ ]:
df.shape

(3141, 235)

In [ ]:
sum(df['F_Hi_HeartDis']== -1111)

2535

In [ ]:
new_df= pd.DataFrame(df, columns=['CHSI_State_Name','D_Wh_HeartDis', 'D_Bl_HeartDis', 
                                 'D_Ot_HeartDis', 'D_Hi_HeartDis', 'E_Wh_HeartDis', 
                                 'E_Bl_HeartDis', 'E_Ot_HeartDis', 'E_Hi_HeartDis', 
                                 'F_Wh_HeartDis','F_Bl_HeartDis', 'F_Ot_HeartDis', 
                                 'F_Hi_HeartDis'])

In [ ]:
new_df.shape

(3141, 13)

In [ ]:
new_df.columns[new_df.isnull().any(axis=0)]

Index([], dtype='object')

In [ ]:
#new_df= new_df.set_index('CHSI_State_Name')

In [ ]:
new_df= new_df.loc[new_df['CHSI_State_Name'] == 'California']
new_df

,CHSI_State_Name,D_Wh_HeartDis,D_Bl_HeartDis,D_Ot_HeartDis,...,F_Wh_HeartDis,F_Bl_HeartDis,F_Ot_HeartDis,F_Hi_HeartDis
184,California,11,13,14,...,31,31,28,28
185,California,-1111,-1111,-1111,...,34,-1111,-1111,-1111
186,California,21,-1111,-1111,...,31,-1111,-1111,50
...,...,...,...,...,...,...,...,...,...
239,California,11,21,16,...,31,36,29,27
240,California,10,-1111,10,...,25,27,29,25
241,California,14,-1111,-1111,...,32,34,28,30

In [ ]:
test_df= pd.DataFrame(df, columns=['CHSI_State_Name','D_Wh_HeartDis', 'D_Bl_HeartDis', 
                                 'D_Ot_HeartDis', 'D_Hi_HeartDis', 'E_Wh_HeartDis', 
                                 'E_Bl_HeartDis', 'E_Ot_HeartDis', 'E_Hi_HeartDis', 
                                 'F_Wh_HeartDis','F_Bl_HeartDis', 'F_Ot_HeartDis', 
                                 'F_Hi_HeartDis'])

In [ ]:
#test_df= test_df.index[test_df['CHSI_State_Name']!= -1111]

In [ ]:
#df_null= test_df.index[test_df['CHSI_State_Name']== -1111]
#test_df= test_df.drop(test_df['CHSI_State_Name']== -1111)

In [ ]:
test_df['CHSI_State_Name'].hist(bins=30)

In [ ]:
#drop rows with -1111 values, since that seems to be the equivalent Nan
test_df=test_df[test_df!=-1111]

In [ ]:
test_df= test_df.astype(int)

In [ ]:
test_df['CHSI_State_Name'].hist(range=(0, test_df.max()))